@font-face {
  font-family: 'Swiss';
  src:  url('../fonts/Swiss-Light/Swiss721BT-Light.woff2') format('woff2'),
        url('../fonts/Swiss-Light/Swiss721BT-Light.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: 'Swiss';
  src:  url('../fonts/Swiss-Bold/Swiss721BT-Bold.woff2') format('woff2'),
        url('../fonts/Swiss-Bold/Swiss721BT-Bold.woff') format('woff');
  font-weight: bold;
}