$screen-md-min:  992px;
$screen-xl-min: 1200px;

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: 100%;
	font-family: Swiss, Arial, sans-serif;
	font-weight: 100;
	color: white;
	position: fixed;
	width: 100%;
}

h2 {
	font-weight: lighter;
}

.skin { 
	height: 100%;
	width: 100%;
	// background: url('../images/gradient-bg.jpg') no-repeat center center fixed;
	// background: linear-gradient(0deg, #5B8DA1, #751B90);
	background: radial-gradient(120vw 120vh at center bottom, #5B8DA1 0%, #5E7D9D 20%, #6E5B96 50%, #751B90 80%);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-start; 
  align-items: stretch;
  align-content: stretch; 
}

.header {
	padding: 40px 20px;
	padding-bottom: 0;
	text-align: center;
	width: 100%;
	position: fixed;
	z-index: 9998;
	@media screen and (min-width: $screen-md-min) {
		position: initial;
		padding: 40px 20px;
		z-index: initial;
	}
}

.loader__header {
	padding: 40px 20px;
	text-align: center;
	width: 100%;
	display: none;
	position: fixed;
	top: 0;
	@media screen and (min-width: $screen-md-min) {
		display: block;
	}
}

.loader__logo {
	max-width: 800px;	
}

.header__logo {
	max-width: 800px;
}

.instrument { 
	position:relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	@media screen and (min-width: $screen-md-min) {
		width: 50%;
		height: auto;
	}
}

.playlist {
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0;
	z-index:4;
	@media screen and (min-width: $screen-md-min) {
		width: 50%;
		position: initial;
		padding: 0 70px;
		padding-top: 70px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.playlist__title {
	text-transform: uppercase;
	font-size: 28px;
	@media screen and (min-width: $screen-md-min) {
		font-size: 36px;
	}
}

.row {
	flex: 1;
	display: block;
	flex-wrap: wrap;
	height: 100%;
	@media screen and (min-width: $screen-md-min) {
		display: flex;
		height: auto;
	}
}

.coveredImage { 
	width: 100%;
	max-width: initial;
	flex: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	@media screen and (min-width: $screen-md-min) {
		max-width: 650px;
		right: initial;
	}
	@media screen and (min-width: $screen-xl-min) {
		max-width: 670px;
	}
	@media screen and (min-width: 1500px) {
		max-width: none;
	}
}

.flower-mobile {
	width: 100%;
	position: fixed;
	bottom: 0;
	@media screen and (min-width: $screen-md-min) {
		display: none;
	}
}

.coveringCanvas { 
	width:100%; 
	position:absolute; 
	bottom:0px; 
	left:0px;
	display: none;
	z-index: 4;
	max-width: 650px;
	@media screen and (min-width: $screen-md-min) {
		display: block;
	}
	@media screen and (min-width: $screen-xl-min) {
		max-width: 670px;
	}
	@media screen and (min-width: 1500px) {
		max-width: none;
	}
}

.instrument__buttons {
	height: 100%;
	width: 100%;
	z-index: -1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	position:absolute; 
	bottom: 0; 
	left: 0;
	right: 0;
	top: 0;
	@media screen and (min-width: $screen-md-min) {
		display: none;
	}
}

.instrument__button {
	background: transparent;
  border: none !important;
  cursor: pointer;
  font-size:0;
	width: 50%;
	height: 14.286%;
}

.playlist__embed-container {
	position: relative;
  // padding-bottom: 56.25%;
  padding-bottom: 80px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  @media screen and (min-width: $screen-md-min) {
		padding-bottom: 300px;
  }
  @media screen and (min-width: $screen-xl-min) {
		padding-bottom: 350px;
  }
}

.playlist__embed-container iframe,
.playlist__embed-container object,
.playlist__embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes flickerAnimation { /* flame pulses */
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.header__flash {
		padding-top: 50px;
		@media screen and (min-width: $screen-md-min) {
			display: none;
	  }
}

.animate-flicker {
  opacity:1;  
  animation: flickerAnimation 2.0s ease-in-out infinite;
  & p {
  	margin: 0;
  }
}

.bring-to-front {
	z-index: 9990;
}

.header__flash-content {
	border: 0;
}

button {
	background: transparent;
	border: 3px solid white;
	padding: 0.8rem 1rem;
	color: white;
	font-family: Swiss, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	cursor: pointer;
	letter-spacing: 3.2px;
	overflow: visible;
  transition: background-color 0.2s ease 0s;
	&:hover {
		background-color: #fff;
    color: #000;
		& g {
			fill: #000;
		} 
	}
	outline: none;
}

.instrument__help-text {
	display: none;
	position: absolute;
	color: white;
	font-family: Swiss, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 3.2px;
	right: 0px;
	z-index: 10;
	max-width: 300px;
	text-align: center;
	top: 50px;
	transform: translateX(48%);
	@media screen and (min-width: $screen-md-min) {
		display: block;
	}
	@media screen and (min-width: $screen-xl-min) {	
	}
}

.instrument__start-button, .instrument__stop-button, .instrument__play-button {
	display: none;
	position: absolute;
	right: 0;
	z-index: 6;
	// bottom: 520px;
	top: -10px;
	transform: translateX(44%);
	@media screen and (min-width: $screen-md-min) {
		display: block;
	}
	@media screen and (min-width: $screen-xl-min) {

	}
}

.instrument__stop-button, .instrument__play-button {
	transform: translateX(30%);
	padding-top: 0.9rem;
	padding-bottom: 0.7rem;
	@media screen and (min-width: $screen-xl-min) {
	}
}

.instrument__stop-button img{
	width: 17px;
	height: 17px;
}

.loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	// background: linear-gradient(0deg, #5B8DA1, #751B90);
	background: radial-gradient(120vw 120vh at center bottom, #5B8DA1 0%, #5E7D9D 20%, #6E5B96 50%, #751B90 80%);
	display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9999;
	@media screen and (min-width: $screen-md-min) {
		// display: none;
	}
}

.spinner {
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 auto;
  @media screen and (min-width: $screen-md-min) {
		width: 75px;
	  height: 75px;
  }
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1.0s;
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
  }
}

.loader__text {
	color: white;
	font-family: Swiss, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 3.2px;
	margin: 0 auto;
	padding-top: 20px;
	width: 100%;
	text-align: center;
}

.share {
	position: absolute;
	bottom: 50%;
	z-index: 5;
	width: 100%;
	text-align: center;
	@media screen and (min-width: $screen-md-min) {
		bottom: 0;
		left: 0;
		width: initial;
		padding: 30px;
  }
}

.share__twitter-icon, .share__facebook-icon {
	height: 30px;
}

.share__facebook {
	margin-right: 10px;
}

.hidden {
	display: none;
}