@font-face {
  font-family: 'Swiss';
  src: url("../fonts/Swiss-Light/Swiss721BT-Light.woff2") format("woff2"), url("../fonts/Swiss-Light/Swiss721BT-Light.woff") format("woff");
  font-weight: 100; }

@font-face {
  font-family: 'Swiss';
  src: url("../fonts/Swiss-Bold/Swiss721BT-Bold.woff2") format("woff2"), url("../fonts/Swiss-Bold/Swiss721BT-Bold.woff") format("woff");
  font-weight: bold; }

* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  font-family: Swiss, Arial, sans-serif;
  font-weight: 100;
  color: white;
  position: fixed;
  width: 100%; }

h2 {
  font-weight: lighter; }

.skin {
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #cb7288, #af95c5);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch; }

.header {
  padding: 40px 20px;
  padding-bottom: 0;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 9999; }
  @media screen and (min-width: 992px) {
    .header {
      position: initial;
      padding: 40px 20px;
      z-index: initial; } }

.header__logo {
  max-width: 800px; }

.instrument {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%; }
  @media screen and (min-width: 992px) {
    .instrument {
      width: 50%;
      height: auto; } }

.playlist {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 4; }
  @media screen and (min-width: 992px) {
    .playlist {
      width: 50%;
      position: initial;
      padding: 0 60px;
      padding-top: 70px; } }

.playlist__title {
  text-transform: uppercase;
  font-size: 28px; }
  @media screen and (min-width: 992px) {
    .playlist__title {
      font-size: 36px; } }

.row {
  flex: 1;
  display: block;
  flex-wrap: wrap;
  height: 100%; }
  @media screen and (min-width: 992px) {
    .row {
      display: flex;
      height: auto; } }

.coveredImage {
  width: 100%;
  max-width: initial;
  flex: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2; }
  @media screen and (min-width: 992px) {
    .coveredImage {
      max-width: 720px;
      display: block;
      position: initial; } }

.flower-mobile {
  width: 100%;
  position: fixed;
  bottom: 0; }
  @media screen and (min-width: 992px) {
    .flower-mobile {
      display: none; } }

.coveringCanvas {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: none;
  z-index: 4; }
  @media screen and (min-width: 992px) {
    .coveringCanvas {
      display: block; } }

.instrument__buttons {
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0; }
  @media screen and (min-width: 992px) {
    .instrument__buttons {
      display: none; } }

.instrument__button {
  background: transparent;
  border: none !important;
  cursor: pointer;
  font-size: 0;
  width: 50%;
  height: 14.286%; }

.playlist__embed-container {
  position: relative;
  padding-bottom: 80px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }
  @media screen and (min-width: 992px) {
    .playlist__embed-container {
      padding-bottom: 300px; } }

.playlist__embed-container iframe,
.playlist__embed-container object,
.playlist__embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@keyframes flickerAnimation {
  /* flame pulses */
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.header__flash {
  padding-top: 50px; }
  @media screen and (min-width: 992px) {
    .header__flash {
      display: none; } }

.animate-flicker {
  opacity: 1;
  animation: flickerAnimation 2.0s ease-in-out infinite; }
  .animate-flicker p {
    margin: 0; }

.bring-to-front {
  z-index: 9990; }

.header__flash-content {
  border: 0; }

button {
  background: transparent;
  border: 2px solid white;
  padding: 0.8rem 1rem;
  color: white;
  font-family: Swiss, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  letter-spacing: 3.2px;
  outline: none; }
  button:hover {
    color: #dbdbdb; }

.instrument__start-button, .instrument__stop-button, .instrument__play-button {
  display: none;
  position: absolute;
  top: calc(100% - 34vw);
  right: -40px;
  z-index: 6; }
  @media screen and (min-width: 992px) {
    .instrument__start-button, .instrument__stop-button, .instrument__play-button {
      display: block; } }

.instrument__stop-button, .instrument__play-button {
  right: 110px; }

.instrument__stop-button img {
  width: 17px;
  height: 17px; }

.hidden {
  display: none; }
