* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: 100%;
	font-family: Swiss;
	font-weight: lighter;
	color: white;
}

h2 {
	font-weight: lighter;
}

.skin { 
	height: 100%;
	width: 100%;
	background: url('../images/gradient-bg.jpg') no-repeat center center fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-start; 
  align-items: stretch;
  align-content: stretch; 
}

.header {
	padding: 40px 20px;
	text-align: center;
	width: 100%;
}

.header__logo {
	max-width: 800px;
}

.instrument { 
	position:relative;
	width: 50%;
	padding-left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.playlist {
	width: 50%;
	text-align: center;
	padding-top: 70px;
}

.playlist__title {
	text-transform: uppercase;
	font-size: 36px;
}

.row {
	flex: 1;
	display: flex;
}

.coveredImage { 
	width: 100%;
	max-width: 585px;
}

.coveringCanvas { 
	width:100%; 
	height:100%; 
	position:absolute; 
	top:0px; 
	left:0px;
}